{% render 'breadcrumbs' %}
{% section 'page-faq-template' %}
<div class="last-section">
{% section 'home-3col-section' %}
</div>
<style>
  .last-section{
      margin-bottom: -120px;
  }
  
  #shopify-section-home-3col-section>.hero-3colum-home>.grid-3column-home>.heading-one {
    text-align: left!important;
    padding-left: 8%!important;
    font-weight: bold!important;
    font-size: 2.4em!important;
}
  
</style>