<div class="menu-collections1">
<ul class="grid-menu">
  {% for link in linklists.footwear.links  %} 
  
  <li {% if link.active %}class="activelist"{% endif %}><a href= "{{ link.url }}">{{ link.title }}</a></li>
  
{% endfor %}
 
</ul>
</div>

<style>
  .menu-collections1{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 180px;
    z-index:1;
  }
  
  .grid-menu{
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
  }
  
  .underline-collection:hover{
  text-decoration: underline;
    text-underline-offset: 9px;
  }  
  
  
</style>  

