


<div class="block-grid2">
  <h1 class="safety-heading2">{{section.settings.description5}}</h1>
  <div class="grid-block-items">
    
  {%for block in section.blocks%}
 
  
<div class="block-items">
   <p class="btn-safety">{{block.settings.heading3}}</p>
  
  <ul class="list-safety2" style="list-style-position: outside;">
    
   {{block.settings.heading4}}
   
  </ul>
   
  </div>
 
 
   
{%endfor%}
  </div>
</div>



<style>
  
  .safety-heading2{
      text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    color: #000;
    position: relative;
    top: 60px;
  
  }
  .list-safety2>p{
  margin: 10px;
  font-size: 13px;
    font-family: 'helvetica'!important;
    font-weight: 400;  
    text-align: left;
  }
  
  .vitaly-text-section1>p{
  margin-bottom: 7%;
  }
  
  .list-safety2>p {
    display: block;
    text-align: center;
}
  
  .vitaly-text-section1{margin-bottom: 21%;}
  
  .block-grid2{
  background: #ecedee;
    color: #000;
  }  

  .grid-block-items{
  
    max-width: 700px;
    margin: 0 auto;
    padding: 5% 0px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 30px;
    line-height: 1.2;
 
  }
  .btn-safety{
  text-align: center;
    padding: 10px 30px;
    background: #febd17;
    color: #000;
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 20px;
  }
  
  
</style>

<script>

const listButtons = document.querySelectorAll('.block-items');
  listButtons[21].style.gridColumn=3;
  listButtons[21].classList.add("itemmobile1"); 
  listButtons[20].style.gridColumn=2;
  listButtons[20].classList.add("itemmobile2"); 
</script>


{% schema %}
   {
  	"name": "Safety-block2",
  	"settings": [
  		
{
  			"type": "richtext",
  			"label": "Second-block-title",
  			"id": "description5"
  		}
  	],
  	"blocks": [{
  		"type": "text",
  		"name": "text block",
  		"settings": [
      {
  			"type": "text",
  			"label": "Title Safety",
  			"id": "heading3"
  		},
  {
  			"type": "richtext",
  			"label": "list",
  			"id": "heading4"
  		}



]
  	}

],
  	"presets": [{
  		"category": "image",
  		"name": "safety2"
  	}]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
